body {
    font-family: 'Yantramanav', sans-serif;
    
}

article {
    display: inline-block;
    border: 1px solid #e3e3c5;
    background-color: #fefcda;
    padding: 16px;
    margin: 16px;
    padding-top: 0px;
}

h1 {
    color: #9c9a89;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 16px;
}

.icon {
    color:  #9c9a89;
    padding-right: 12px;
}

p {
    color: #4d87d3;
    font-weight: bold;
    font-size: 18px; 
    padding-left: 0px;
    margin-bottom: 0px;
    
}

.abc {
    padding: 8px;
    margin-left: 0px;
    
}

.ab {
    margin-top: 0px;
    margin-left: 36px;
}